<header class="header">
    <div class="container">
      <div class="logo">
        <img src="https://img.pikbest.com/png-images/20210501/cute-cow-playing-guitar-cartoon_5899558.png!f305cw" alt="Logo">
        <h1>Shop Dúi Thúi</h1>
        <nav>
          <a href="./">Trang chủ</a>
          <a href="#">Thông tin shop</a>
          <a href="/products.html">Sản phẩm</a>
          <a href="#">Hãng điện thoại</a>
          <a href="#">Bài đăng</a>
        </nav>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i> Giỏ hàng</a></li>
      </ul>
    </div>
  </header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/components/header.css">
  <script src="/components/header.js"></script>